#ifndef CONFIG_HPP
#define CONFIG_HPP


// Wi-Fi STA
const char* wifi_ssid = "SSID";
const char* wifi_password = "PASSPHRASE";

// Wi-Fi AP
const char* wifi_ap_ssid = "AcousticDetection";
const char* wifi_ap_pass = "wifiAPpassword";

// Hostname
const char* hostname = "AcousticDetection";

// ESP OTA password
const char* ota_password = "ota_password";


#endif